## Proyecto Final

pip install pandas as pd
pip install numpy as np
pip install pandas pyodbc

In [7]:
# Carga de librerias
import pandas as pd 
import numpy as np
import pyodbc
import os

In [ ]:
# Configurar la conexion a SQL SERVER

#import pyodbc

#server = "LAPTOP-ET6CVE9Q\SQLEXPRESS"  # Ejemplo: "localhost\SQLEXPRESS"
#database = "Licorera"
#username = "LAPTOP-ET6CVE9Q\Cami"
#password = "CONTRASE√ëA"
#driver = "{SQL Server}"

# üîÑ Crear conexi√≥n
#conn = pyodbc.connect(
#    f"DRIVER={driver};SERVER={server};DATABASE={database};UID={username};PWD={password}"
)
#cursor = conn.cursor()
#print("‚úÖ Conexi√≥n exitosa a SQL Server")

In [2]:
# Importar multiples archivos CSV
# üìÇ Carpeta donde est√°n los archivos CSV
ruta_carpeta = "C:\Proyecto Final Henry\DataBase"

<>:3: SyntaxWarning: invalid escape sequence '\P'
<>:3: SyntaxWarning: invalid escape sequence '\P'
C:\Users\Cami\AppData\Local\Temp\ipykernel_14960\239218762.py:3: SyntaxWarning: invalid escape sequence '\P'
  ruta_carpeta = "C:\Proyecto Final Henry\DataBase"

In [6]:
# üîÑ Recorremos todos los archivos en la carpeta
#for archivo in os.listdir("C:\Proyecto Final Henry\DataBase"):
#    if archivo.endswith(".csv") or archivo.endswith(".xlsx"):  # Verifica si es CSV o Excel
#        ruta_completa = os.path.join("C:\Proyecto Final Henry\DataBase", archivo)
#        
        # üì• Cargar archivo CSV o Excel con Pandas
#        if archivo.endswith(".csv"):
#            df = pd.read_csv(ruta_completa)
#        else:
#            df = pd.read_excel(ruta_completa)
#
#        # üìå Crear la tabla en SQL Server (opcional, si no existe)
#        nombre_tabla = archivo.split(".")[0]  # Eliminar la extensi√≥n del archivo
#        columnas = ", ".join([f"[{col}]" for col in df.columns])  # Formatear columnas
        
#        sql_create = f"CREATE TABLE {nombre_tabla} ({columnas} NVARCHAR(MAX))"
#        try:
#            cursor.execute(sql_create)
#            conn.commit()
#            print(f"üõ† Tabla {nombre_tabla} creada en SQL Server.")
#        except:
#            print(f"‚ö†Ô∏è La tabla {nombre_tabla} ya existe, insertando datos...")

        # üîÑ Insertar datos en la tabla
#        for _, row in df.iterrows():
#            valores = "', '".join(map(str, row))
#            sql_insert = f"INSERT INTO {nombre_tabla} ({columnas}) VALUES ('{valores}')"
#            cursor.execute(sql_insert)

#        conn.commit()
#        print(f"‚úÖ Datos de {archivo} insertados en {nombre_tabla}")

# Cerrar conexi√≥n
#cursor.close()
#conn.close()
#print("üöÄ Importaci√≥n finalizada")

<>:2: SyntaxWarning: invalid escape sequence '\P'
<>:4: SyntaxWarning: invalid escape sequence '\P'
<>:2: SyntaxWarning: invalid escape sequence '\P'
<>:4: SyntaxWarning: invalid escape sequence '\P'
C:\Users\Cami\AppData\Local\Temp\ipykernel_14960\1039401825.py:2: SyntaxWarning: invalid escape sequence '\P'
  for archivo in os.listdir("C:\Proyecto Final Henry\DataBase"):
C:\Users\Cami\AppData\Local\Temp\ipykernel_14960\1039401825.py:4: SyntaxWarning: invalid escape sequence '\P'
  ruta_completa = os.path.join("C:\Proyecto Final Henry\DataBase", archivo)
C:\Users\Cami\AppData\Local\Temp\ipykernel_14960\1039401825.py:2: SyntaxWarning: invalid escape sequence '\P'
  for archivo in os.listdir("C:\Proyecto Final Henry\DataBase"):
C:\Users\Cami\AppData\Local\Temp\ipykernel_14960\1039401825.py:4: SyntaxWarning: invalid escape sequence '\P'
  ruta_completa = os.path.join("C:\Proyecto Final Henry\DataBase", archivo)

NameError: name 'os' is not defined

## Inicio de revisi√≥n, filtrado de datos y limpieza de los mismos.

In [2]:
import pandas as pd
import numpy as np

# Ruta del archivo CSV (ajusta seg√∫n la ubicaci√≥n de tu archivo)
ruta_csv1 = r"C:\\Proyecto Final Henry\\DataBase\\2017PurchasePricesDec.csv"

# Cargar el CSV en un DataFrame de Pandas
df1 = pd.read_csv(ruta_csv1)

# Mostrar las primeras filas del CSV
print(df1.head())

   Brand                  Description  Price   Size Volume  Classification  \
0     58  Gekkeikan Black & Gold Sake  12.99  750mL    750               1
1     62     Herradura Silver Tequila  36.99  750mL    750               1
2     63   Herradura Reposado Tequila  38.99  750mL    750               1
3     72         No. 3 London Dry Gin  34.99  750mL    750               1
4     75    Three Olives Tomato Vodka  14.99  750mL    750               1

   PurchasePrice  VendorNumber                   VendorName
0           9.28          8320  SHAW ROSS INT L IMP LTD
1          28.67          1128  BROWN-FORMAN CORP
2          30.46          1128  BROWN-FORMAN CORP
3          26.11          9165  ULTRA BEVERAGE COMPANY LLP
4          10.94          7245  PROXIMO SPIRITS INC.

In [3]:
np.shape(df1)

(12261, 9)

In [4]:
df1.shape

(12261, 9)

In [5]:
#Se revisa la cantidad de datos faltantes en la base de datos para continuar
df1.isnull().sum()

Brand             0
Description       1
Price             0
Size              1
Volume            1
Classification    0
PurchasePrice     0
VendorNumber      0
VendorName        0
dtype: int64

In [6]:
# Eliminar las filas de datos faltantes (si son pocos datos)
df1 = df1.dropna()

In [7]:
# Mostrar todas las filas con valores faltantes: 
df1[df1.isnull().any(axis=1)]

Empty DataFrame
Columns: [Brand, Description, Price, Size, Volume, Classification, PurchasePrice, VendorNumber, VendorName]
Index: []

In [8]:
# Contar cuantas filas tienen datos faltante:
df1.isnull().any(axis=1).sum()

np.int64(0)

In [9]:
df1.shape

(12260, 9)

In [10]:
# Ver valores duplicados df1 es tu DataFrame
duplicados = df1.duplicated().sum()

print(f"Total de filas duplicadas: {duplicados}")

Total de filas duplicadas: 0

In [11]:
# Guardamos el dataset revisado, a el cual se le elimino una fila convalores NaN y se guarda a un nuevo archivo csv para poderlo utilizar posteriormente.
df1.to_csv("2017PurchasePricesDecRev.csv",index=False)

In [12]:
import pandas as pd
import numpy as np

# Ruta del archivo CSV (ajusta seg√∫n la ubicaci√≥n de tu archivo)
ruta_csv2 = r"C:\\Proyecto Final Henry\\DataBase\\BegInvFINAL12312016.csv"

# Cargar el CSV en un DataFrame de Pandas
df2 = pd.read_csv(ruta_csv2)

# Mostrar las primeras filas del CSV
print(df2.head())

         InventoryId  Store          City  Brand                  Description  \
0  1_HARDERSFIELD_58      1  HARDERSFIELD     58  Gekkeikan Black & Gold Sake
1  1_HARDERSFIELD_60      1  HARDERSFIELD     60       Canadian Club 1858 VAP
2  1_HARDERSFIELD_62      1  HARDERSFIELD     62     Herradura Silver Tequila
3  1_HARDERSFIELD_63      1  HARDERSFIELD     63   Herradura Reposado Tequila
4  1_HARDERSFIELD_72      1  HARDERSFIELD     72         No. 3 London Dry Gin

    Size  onHand  Price   startDate
0  750mL       8  12.99  2016-01-01
1  750mL       7  10.99  2016-01-01
2  750mL       6  36.99  2016-01-01
3  750mL       3  38.99  2016-01-01
4  750mL       6  34.99  2016-01-01

In [13]:
df2.shape

(206529, 9)

In [14]:
#Se revisa la cantidad de datos faltantes en la base de datos para continuar
df2.isnull().sum()

InventoryId    0
Store          0
City           0
Brand          0
Description    0
Size           0
onHand         0
Price          0
startDate      0
dtype: int64

In [15]:
# Contar cuantas filas tienen datos faltante:
df2.isnull().any(axis=1).sum()

np.int64(0)

In [16]:
# Ver valores duplicados df2 es tu DataFrame
duplicados = df2.duplicated().sum()

print(f"Total de filas duplicadas: {duplicados}")

Total de filas duplicadas: 0

In [17]:
import pandas as pd
import numpy as np

# Ruta del archivo CSV (ajusta seg√∫n la ubicaci√≥n de tu archivo)
ruta_csv3 = r"C:\\Proyecto Final Henry\\DataBase\\EndInvFINAL12312016.csv"

# Cargar el CSV en un DataFrame de Pandas
df3 = pd.read_csv(ruta_csv3)

# Mostrar las primeras filas del CSV
print(df3.head())

         InventoryId  Store          City  Brand                  Description  \
0  1_HARDERSFIELD_58      1  HARDERSFIELD     58  Gekkeikan Black & Gold Sake
1  1_HARDERSFIELD_62      1  HARDERSFIELD     62     Herradura Silver Tequila
2  1_HARDERSFIELD_63      1  HARDERSFIELD     63   Herradura Reposado Tequila
3  1_HARDERSFIELD_72      1  HARDERSFIELD     72         No. 3 London Dry Gin
4  1_HARDERSFIELD_75      1  HARDERSFIELD     75    Three Olives Tomato Vodka

    Size  onHand  Price     endDate
0  750mL      11  12.99  2016-12-31
1  750mL       7  36.99  2016-12-31
2  750mL       7  38.99  2016-12-31
3  750mL       4  34.99  2016-12-31
4  750mL       7  14.99  2016-12-31

In [18]:
df3.shape

(224489, 9)

In [19]:
#Se revisa la cantidad de datos faltantes en la base de datos para continuar
df3.isnull().sum()

InventoryId       0
Store             0
City           1284
Brand             0
Description       0
Size              0
onHand            0
Price             0
endDate           0
dtype: int64

In [20]:
# Contar cuantas filas tienen datos faltante:
df3.isnull().any(axis=1).sum()

np.int64(1284)

In [21]:
# Mostrar todas las filas con valores faltantes: 
df3[df3.isnull().any(axis=1)]

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate
113895,46__58,46,NaN,58,Gekkeikan Black & Gold Sake,750mL,0,12.99,2016-12-31
113896,46__62,46,NaN,62,Herradura Silver Tequila,750mL,0,36.99,2016-12-31
113897,46__63,46,NaN,63,Herradura Reposado Tequila,750mL,0,38.99,2016-12-31
113898,46__77,46,NaN,77,Three Olives Espresso Vodka,750mL,0,14.99,2016-12-31
113899,46__106,46,NaN,106,Mr Boston Peach Schnapps,Liter,0,4.49,2016-12-31
...,...,...,...,...,...,...,...,...,...
115174,46__46447,46,NaN,46447,Gascon Malbec Mendoza,750mL,0,10.99,2016-12-31
115175,46__46458,46,NaN,46458,Layer Cake Barosa Shiraz,750mL,0,15.99,2016-12-31
115176,46__46476,46,NaN,46476,Tilia Malbec Mendoza,750mL,0,9.99,2016-12-31
115177,46__46764,46,NaN,46764,Clayhouse Adobe Red Paso Rbl,750mL,0,11.99,2016-12-31
115178,46__46830,46,NaN,46830,Pacific Rim Sweet Rsl,750mL,0,8.99,2016-12-31

In [22]:
# Ver valores duplicados df3 es tu DataFrame
duplicados = df3.duplicated().sum()

print(f"Total de filas duplicadas: {duplicados}")

Total de filas duplicadas: 0

In [23]:
# Supongamos que tu DataFrame es df4
unique_values = df3['City'].unique()

print("Valores √∫nicos en la columna 'City':")
print(unique_values)

Valores √∫nicos en la columna 'City':
['HARDERSFIELD' 'ASHBORNE' 'HORNSEY' 'EANVERNESS' 'SUTTON' 'GOULCREST'
 'STANMORE' 'ALNERWICK' 'BLACKPOOL' 'CARDEND' 'LEESIDE' 'TARMSWORTH'
 'BROMWICH' 'WANBORNE' 'LUNDY' 'OLDHAM' 'FURNESS' 'WINTERVALE'
 'BREDWARDINE' 'BALERNO' 'SHARNWICK' 'ARBINGTON' 'PALPERROTH' 'CAERSHIRE'
 "KNIFE'S EDGE" 'MOUNTMEND' 'LARNWICK' 'AYLESBURY' 'CULCHETH' 'PITMERDEN'
 'HALIVAARA' 'LEWES' 'PAETHSMOUTH' 'EASTHALLOW' 'BULLMAR' 'BLACK HOLLOW'
 'WOLFORD' 'PORTHCRAWL' 'VERITAS' nan "PELLA'S WISH" 'NORFOLK' 'GARIGILL'
 'ABERDEEN' 'GRAYCOTT' 'HILLFAR' 'GUTHRAM' 'DRY GULCH' "BEGGAR'S HOLE"
 'LANTEGLOS' 'HARTLEPOOL' 'CLAETHORPES' 'IRRAGIN' 'AETHELNEY' 'KILMARNOCK'
 'SWORDBREAK' 'CESTERFIELD' 'LUTON' 'SOLARIS' 'KELD' 'CLARCTON'
 'DONCASTER' 'PAENTMARWY' 'BARNCOMBE' 'TAMWORTH' 'EASTHAVEN' 'BALLYMENA'
 'PEMBROKE']

In [ ]:
# Calcular la media, moda y mediana de City para el dataframe df3:

In [24]:
import pandas as pd
import numpy as np

# Ruta del archivo CSV (ajusta seg√∫n la ubicaci√≥n de tu archivo)
ruta_csv4 = r"C:\\Proyecto Final Henry\\DataBase\\InvoicePurchases12312016.csv"

# Cargar el CSV en un DataFrame de Pandas
df4 = pd.read_csv(ruta_csv4)

# Mostrar las primeras filas del CSV
print(df4.head())

   VendorNumber                   VendorName InvoiceDate  PONumber  \
0           105  ALTAMAR BRANDS LLC           2016-01-04      8124
1          4466  AMERICAN VINTAGE BEVERAGE    2016-01-07      8137
2           388  ATLANTIC IMPORTING COMPANY   2016-01-09      8169
3           480  BACARDI USA INC              2016-01-12      8106
4           516  BANFI PRODUCTS CORP          2016-01-07      8170

       PODate     PayDate  Quantity    Dollars  Freight Approval
0  2015-12-21  2016-02-16         6     214.26     3.47      NaN
1  2015-12-22  2016-02-21        15     140.55     8.57      NaN
2  2015-12-24  2016-02-16         5     106.60     4.61      NaN
3  2015-12-20  2016-02-05     10100  137483.78  2935.20      NaN
4  2015-12-24  2016-02-12      1935   15527.25   429.20      NaN

In [25]:
# Mostrar el total de filas y columnas
df4.shape

(5543, 10)

In [26]:
#Se revisa la cantidad de datos faltantes en la base de datos para continuar
df4.isnull().sum()

VendorNumber       0
VendorName         0
InvoiceDate        0
PONumber           0
PODate             0
PayDate            0
Quantity           0
Dollars            0
Freight            0
Approval        5169
dtype: int64

In [27]:
# Mostrar todas las filas con valores faltantes: 
df4[df4.isnull().any(axis=1)]

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,105,ALTAMAR BRANDS LLC,2016-01-04,8124,2015-12-21,2016-02-16,6,214.26,3.47,NaN
1,4466,AMERICAN VINTAGE BEVERAGE,2016-01-07,8137,2015-12-22,2016-02-21,15,140.55,8.57,NaN
2,388,ATLANTIC IMPORTING COMPANY,2016-01-09,8169,2015-12-24,2016-02-16,5,106.60,4.61,NaN
3,480,BACARDI USA INC,2016-01-12,8106,2015-12-20,2016-02-05,10100,137483.78,2935.20,NaN
4,516,BANFI PRODUCTS CORP,2016-01-07,8170,2015-12-24,2016-02-12,1935,15527.25,429.20,NaN
...,...,...,...,...,...,...,...,...,...,...
5538,9622,WEIN BAUER INC,2017-01-06,13626,2016-12-21,2017-02-10,90,1563.00,8.60,NaN
5539,9625,WESTERN SPIRITS BEVERAGE CO,2017-01-10,13661,2016-12-23,2017-02-18,4617,37300.48,186.50,NaN
5540,3664,WILLIAM GRANT & SONS INC,2017-01-02,13643,2016-12-22,2017-02-04,9848,202815.78,932.95,NaN
5541,9815,WINE GROUP INC,2017-01-03,13602,2016-12-20,2017-02-08,24747,149007.56,819.54,NaN
5542,90058,ZORVINO VINEYARDS,2017-01-05,13574,2016-12-18,2017-02-12,437,3608.11,16.60,NaN

In [28]:
# Contar cuantas filas tienen datos faltante:
df4.isnull().any(axis=1).sum()

np.int64(5169)

In [29]:
# Ver valores duplicados df4 es tu DataFrame
duplicados = df4.duplicated().sum()

print(f"Total de filas duplicadas: {duplicados}")

Total de filas duplicadas: 0

In [30]:
# Supongamos que tu DataFrame es df4
unique_values = df4['Approval'].unique()

print("Valores √∫nicos en la columna 'Approval':")
print(unique_values)

Valores √∫nicos en la columna 'Approval':
[nan 'Frank Delahunt']

In [ ]:
#Llenar Nan con el valor de Frank Delahunt en la columna Approval para ir limpiando y homogenizando los datos:

# df4['Approval'] = df4['Approval'].fillna("Frank Delahunt")

In [ ]:
# Calcular la media, moda y mediana de Approval para el dataframe df4:

# Calcular la media, moda y mediana de la columna 'Approval'

#mean_approval = df4['Approval'].mean()
#mode_approval = df4['Approval'].mode()[0]  # mode() devuelve una serie, tomamos el primer valor
#median_approval = df4['Approval'].median()

# Mostrar los resultados
#print(f"Media de Approval: {mean_approval}")
#print(f"Moda de Approval: {mode_approval}")
#print(f"Mediana de Approval: {median_approval}")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [32]:
print(df4['Approval'].dtype)

object

In [33]:
import pandas as pd
import numpy as np

# Ruta del archivo CSV (ajusta seg√∫n la ubicaci√≥n de tu archivo)
ruta_csv5 = r"C:\\Proyecto Final Henry\\DataBase\\PurchasesFINAL12312016.csv"

# Cargar el CSV en un DataFrame de Pandas
df5 = pd.read_csv(ruta_csv5)

# Mostrar las primeras filas del CSV
print(df5.head())

           InventoryId  Store  Brand                   Description   Size  \
0    69_MOUNTMEND_8412     69   8412     Tequila Ocho Plata Fresno  750mL
1     30_CULCHETH_5255     30   5255  TGI Fridays Ultimte Mudslide  1.75L
2    34_PITMERDEN_5215     34   5215  TGI Fridays Long Island Iced  1.75L
3  1_HARDERSFIELD_5255      1   5255  TGI Fridays Ultimte Mudslide  1.75L
4    76_DONCASTER_2034     76   2034     Glendalough Double Barrel  750mL

   VendorNumber                   VendorName  PONumber      PODate  \
0           105  ALTAMAR BRANDS LLC               8124  2015-12-21
1          4466  AMERICAN VINTAGE BEVERAGE        8137  2015-12-22
2          4466  AMERICAN VINTAGE BEVERAGE        8137  2015-12-22
3          4466  AMERICAN VINTAGE BEVERAGE        8137  2015-12-22
4           388  ATLANTIC IMPORTING COMPANY       8169  2015-12-24

  ReceivingDate InvoiceDate     PayDate  PurchasePrice  Quantity  Dollars  \
0    2016-01-02  2016-01-04  2016-02-16          35.71         6   214.26
1    2016-01-01  2016-01-07  2016-02-21           9.35         4    37.40
2    2016-01-02  2016-01-07  2016-02-21           9.41         5    47.05
3    2016-01-01  2016-01-07  2016-02-21           9.35         6    56.10
4    2016-01-02  2016-01-09  2016-02-16          21.32         5   106.60

   Classification
0               1
1               1
2               1
3               1
4               1

In [34]:
# Mostrar el total de filas y columnas
df5.shape

(2372474, 16)

In [35]:
#Se revisa la cantidad de datos faltantes en la base de datos para continuar
df5.isnull().sum()

InventoryId       0
Store             0
Brand             0
Description       0
Size              3
VendorNumber      0
VendorName        0
PONumber          0
PODate            0
ReceivingDate     0
InvoiceDate       0
PayDate           0
PurchasePrice     0
Quantity          0
Dollars           0
Classification    0
dtype: int64

In [36]:
# Mostrar todas las filas con valores faltantes: 
df5[df5.isnull().any(axis=1)]

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
1109668,34_PITMERDEN_3121,34,3121,Pinnacle Rainbow Sherbet,NaN,12546,JIM BEAM BRANDS COMPANY,10938,2016-06-27,2016-07-04,2016-07-13,2016-08-16,6.93,7,48.51,1
1112426,34_PITMERDEN_5678,34,5678,Skinnygirl Pina Colada,NaN,12546,JIM BEAM BRANDS COMPANY,10938,2016-06-27,2016-07-09,2016-07-13,2016-08-16,6.93,6,41.58,1
1116302,39_EASTHALLOW_15365,39,15365,Alabaster 07 Tinta de Toro,NaN,9552,M S WALKER INC,10972,2016-06-29,2016-07-07,2016-07-13,2016-08-21,91.83,1,91.83,2

In [37]:
# Contar cuantas filas tienen datos faltante:
df5.isnull().any(axis=1).sum()

np.int64(3)

In [38]:
# Eliminar las filas de datos faltantes (si son pocos datos)
df5 = df5.dropna()

In [39]:
# Mostrar el total de filas y columnas
df5.shape

(2372471, 16)

In [40]:
# Ver valores duplicados df5 es tu DataFrame
duplicados = df5.duplicated().sum()

print(f"Total de filas duplicadas: {duplicados}")

Total de filas duplicadas: 0

In [41]:
# Guardamos el dataset revisado, a el cual se le elimino una fila convalores NaN y se guarda a un nuevo archivo csv para poderlo utilizar posteriormente.
df5.to_csv("PurchasesFINAL12312016Rev.csv",index=False)

In [42]:
import pandas as pd
import numpy as np

# Ruta del archivo CSV (ajusta seg√∫n la ubicaci√≥n de tu archivo)
ruta_csv6 = r"C:\\Proyecto Final Henry\\DataBase\\SalesFINAL12312016.csv"

# Cargar el CSV en un DataFrame de Pandas
df6 = pd.read_csv(ruta_csv6)

# Mostrar las primeras filas del CSV
print(df6.head())

           InventoryId  Store  Brand                 Description        Size  \
0  1_HARDERSFIELD_1004      1   1004  Jim Beam w/2 Rocks Glasses       750mL
1  1_HARDERSFIELD_1004      1   1004  Jim Beam w/2 Rocks Glasses       750mL
2  1_HARDERSFIELD_1004      1   1004  Jim Beam w/2 Rocks Glasses       750mL
3  1_HARDERSFIELD_1004      1   1004  Jim Beam w/2 Rocks Glasses       750mL
4  1_HARDERSFIELD_1005      1   1005     Maker's Mark Combo Pack  375mL 2 Pk

   SalesQuantity  SalesDollars  SalesPrice SalesDate  Volume  Classification  \
0              1         16.49       16.49  1/1/2016     750               1
1              2         32.98       16.49  1/2/2016     750               1
2              1         16.49       16.49  1/3/2016     750               1
3              1         14.49       14.49  1/8/2016     750               1
4              2         69.98       34.99  1/9/2016     375               1

   ExciseTax  VendorNo                   VendorName
0       0.79     12546  JIM BEAM BRANDS COMPANY
1       1.57     12546  JIM BEAM BRANDS COMPANY
2       0.79     12546  JIM BEAM BRANDS COMPANY
3       0.79     12546  JIM BEAM BRANDS COMPANY
4       0.79     12546  JIM BEAM BRANDS COMPANY

In [43]:
# Mostrar el total de filas y columnas
df6.shape

(1048575, 14)

In [44]:
#Se revisa la cantidad de datos faltantes en la base de datos para continuar
df6.isnull().sum()

InventoryId       0
Store             0
Brand             0
Description       0
Size              0
SalesQuantity     0
SalesDollars      0
SalesPrice        0
SalesDate         0
Volume            0
Classification    0
ExciseTax         0
VendorNo          0
VendorName        0
dtype: int64

In [45]:
# Mostrar todas las filas con valores faltantes: 
df6[df6.isnull().any(axis=1)]

Empty DataFrame
Columns: [InventoryId, Store, Brand, Description, Size, SalesQuantity, SalesDollars, SalesPrice, SalesDate, Volume, Classification, ExciseTax, VendorNo, VendorName]
Index: []

In [46]:
# Ver valores duplicados df6 es tu DataFrame
duplicados = df6.duplicated().sum()

print(f"Total de filas duplicadas: {duplicados}")

Total de filas duplicadas: 0